<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ethan.springcloud.mapper.UserDao">

    <insert id="addUser" parameterType="User">

        insert  into `t_user1` (`id`, `name`, `age`, `db_source`)
        values
         (0, #{name}, #{age}, DATABASE())
    </insert>

    <select id="userList" resultType="User">
        select `id`, `name`, `age`, `db_source` from `t_user1`
    </select>

    <select id="userWithId" parameterType="java.lang.Integer"
            resultType="User">
        select `id`, `name`, `age`, `db_source` from `t_user1`
        where id=#{id}
    </select>

</mapper>